<br/>
<div class="mt-4 p-5 bg-dark text-white rounded">
    <h1 style="text-align: center;">SCADENZARIO</h1>
</div>
<br/>
            <div class="row">
                <div class="col-md-4">
                    <h1 style="color: black"><b>Gestione Scadenze</b></h1>
                    <p><b>Dal menù Lista Scadenze è possibile creare tutte le nostre scadenze. Ovviamente prima
                        vanno creati i beneficiari delle nostre scadenze.
                    </b></p>
                    <p><a data-toggle="tooltip" title="Gestione Scadenze" class="btn btn-primary" asp-controller="Scadenze" asp-action="Index">Gestione Scadenze</a></p>
                </div>
                <div class="col-md-4">
                    <h1 style="color: black"><b>Gestione Beneficiario</b></h1>
                    <p><b>Dal menù Lista Beneficiari è possibile creare tutti i beneficiari delle nostre scadenze.</b></p>
                    <p><a data-toggle="tooltip" title="Gestione Beneficiario" class="btn btn-primary" asp-controller="Beneficiari" asp-action="Index">Gestione Beneficiario</a></p>
                </div>
                <div class="col-md-4">
                    <h1 style="color:black"><b>Gestione Utenti</b></h1>
                    <p><b>ASP.NET Core Identity mette a disposizione un efficiente gestione del profilo utente, è possibile 
                        gestire utenti registrati localmente o associare la propria login a provider di autenticazione esterni.</b></p>
                    <p><a data-toggle="tooltip" title="Login" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index">Gestione Utenti</a></p>
                </div>
            </div> 
